{% extends 'dashboard.html' %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">SI.No</th>
      <th scope="col">ItemName</th>
      <th scope="col">CustomerName</th>
      <th scope="col">RetailPrice</th>
      <th scope="col">SalePrice</th>
      <th scope="col">Quantity</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
  {% for details in data %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{details.ItemName}}</td>
      <td>{{details.CustomerName}}</td>
      <td>{{details.RetailPrice}}</td>
      <td>{{details.SalePrice}}</td>
      <td>{{details.Quantity}}</td>
      <td>
        <form action="{% url 'del' details.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
      <td>
        <a type="submit" class="btn btn-success"
       href="{% url 'update' details.id %}">Update
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}

